* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #eeeeee;
}

header {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;  
    background-color: #333333;
}

header h1 {            
    color: white;    
}

aside {
    display: inline-block;
    vertical-align: top;          
}

aside ul li {
    list-style-type: disc;
    margin-left: 30px;
    padding-right: 5px;
}

aside ul li a {
    font-weight: bold;
}

section {
    display: inline-block;    
    margin-bottom: 8px;
    padding-left: 10px;
    border-left: 3px solid black;    
}

section p {
    font-weight: bold;
}

section > p {    
    margin-bottom: 5px;
}

footer {    
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;     
    font-weight: bold;
    color: white;
    background-color: #333333;
}

.left-padding {
    padding-left: 5px;
}

.ffta-img-area {    
    float: left; 
    margin-right: 5px; 
    padding: 5px;
    border: 1px solid #444444;
}